@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
      @apply flex justify-center rounded-md font-semibold shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teal-600;
    }
    .btn-md {
        @apply px-3 py-1.5 text-sm/6;
    }
    .btn-lg {
        @apply px-6 py-3 text-lg sm:w-auto font-semibold;
    }
    .btn-primary {
        @apply  bg-teal-600 text-white hover:bg-teal-500;
    }
    .btn-outline {
        @apply bg-transparent border-2 border-teal-600 text-teal-600;
    }
    .form-input {
        @apply block rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-teal-600 sm:text-sm/6;
    }
    .form-label {
        @apply block text-sm/6 font-semibold text-gray-900;
    }
    .input-group {
        @apply flex flex-col gap-1;
    }
  }